.chat {
	position: fixed;
	right: 0;
	bottom: 1.5em;
	width: 25%;
	z-index: 10;
	
	margin: 1em;
	background: #2F3439;
	border-radius: 0.3em;
	overflow: hidden;
}
.chat .filters {
	padding: 0;
	margin: 0;
	list-style: none;
}
.chat .filters li {
	display: block;
	padding: 0.8em 1em;
	cursor: pointer;
	float: left;
	width: 33.33%;
	text-align: center;
	border-top: 2px solid #40474E;
}
.chat .filters li.selected {
	border-top: 2px solid #EEEEEE;
}
.chat .messages {
	padding: 0.6em 0.6em 0 0.6em;
	max-height: 400px;
	
	border-top: 1px solid #272B2F;
	
	display: flex;	
	flex-direction: column-reverse;
	overflow: hidden;
	
	line-height: 1.6em;
	text-shadow: none;
	color: #eee;
}
.chat.selected .messages {
	overflow-y: auto;
}
.chat .messages .message {
	width: 100%;
}
.chat .messages .message.system .user{
	display: none;
}
.chat .messages .message * {
	display: inline-block;
}
.chat .messages .message .user {
	cursor: pointer;
	font-weight: bold;
	padding-right: 0.3em;
}
.chat .messages .message .user:after {
	content: ':';
}
.chat .send {
	background: #2F3439;
	padding: 0.5em;
	border-radius: 0 0 0.3em 0.3em;
}
.chat .send > * {
	font-size: 1em;
	font-family: Arial;
	display: inline-block;
	vertical-align: middle;
	border: 0;
	
    outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	
	text-shadow: none;
}
.chat .send > .to {
	width: 25%;
	border-left: 0;
	color: #A2A2A2;
	display: inline-block;
	vertical-align: bottom;
    position: relative;
	margin-top: -10em;
	overflow: hidden;
	border-radius: 0 0.3em 0.3em 0;
}
.chat .send > .to.open {
	border-radius: 0.3em 0.3em 0.3em 0;
}
.chat .to div {
	background: #eee;
	padding: 0.6em 0.4em;
	cursor: pointer;
	display: none;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
}
.chat .to div.selected, .chat .to.open div{
	display: block;
}
.chat .to div.selected:after {
	content: "";
	width: 0; 
	height: 0; 
	
	border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    float: right;
    margin: 0.4em;
}
.chat .to.open div.selected:after {
	border-right: 0.5em solid;
	border-top: 0.2em solid transparent;
    border-bottom: 0.2em solid transparent;
    margin: 0.35em;
}
.chat .to.open div:hover {
	background: #D0D3D2;
}
.chat .send > textarea {
	resize: none;
	width: 75%;
	overflow: hidden;
	border-right: 0;
	padding: 0.6em 0.4em;
	background: #eee;
	border-radius: 0.3em 0 0 0.3em;
}

/* color settings */
.chat .messages .message.system {
	color: #E5C453;
}
.chat .messages .message.private {
	color: rgb(138, 43, 226);
}
.chat .messages .message.party {
	color: #46BDDF;
}
.chat .messages .message.global {
	color: #B2B8BE;
}
.chat .messages .message.guild {
	color: #51D273;
}
.chat .hide {
	display: none !important;
}