.profile {
	font-size: 15px;
	padding: 0.4em;
	border-top: 2px solid #40474E;
	background: #2F3439;
	border-radius: 0.3em;
	width: 40%;
	margin:auto;
}
.profile .username{
	font-size: 20px;
    padding-bottom: 0.4em;
}
.profile .picture {
	border: 1px solid #000;
	height: 70px;
	margin-right: 10px;
	width: 70px;
}
.stats .hp, .stats .energy {
	height: 35px;
	margin-top: 0.4em;
	background: #D0D3D2;
	border-radius: 0.3em;
	border-bottom: 2px solid #485058;
	overflow: hidden;
}
.stats .bar {
    box-sizing: border-box;
	height: 35px;
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.stats .text {
	border: 1px solid #000;
	background: #fff;
	cursor: default;
	float: right;
	font-size: 12px;
	height: 16px;
	padding: 0 0.4em;
}
.stats .hp .bar {
	
	background: #EE7147;
	width: 50%;
}
.stats .energy .bar {
	background: #E9CA2D;
	width: 30%;
}