html, body {
	font-family: arial;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
body {
	background: #2B2B2B;
	color: #fff;
	text-shadow: 1px 1px #000;
	display: flex;    
	flex-direction: column;
}
body * {
    box-sizing: border-box;
}
.data-hover {
	background: #333333;
	border: 1px solid #000;
	left: 100%;
	padding: 10px;
	position: absolute;
	top: 100%;
	z-index: 40;
}
.data-hover-content {
	display: none;
}
.data-float {
	font-weight: bold;
	position: absolute;
	z-index: 50;
}
.loading {
	background: #2B2B2B;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 100;
}
.loading .content {
	width: 100%;
	left: 0;
	bottom: 2em;
	position: absolute;
}
.loading .content > * {
	max-width: 1000px;
	margin: 0 auto;
}
.loading .bar {
	border: 1px solid #000;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 0.5em;
	height: 1.5em;
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.loading .bar div {
	background: url(../img/loading_bar.png);
	height: 100%;
	width: 0;
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.shadow {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}
.clear {
	clear: both;
}

.xp {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	
	height: 1em;
    background: #eee;
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.xp .bar {
	background: #E9CA2D;
	width: 0;
	height: 100%;
	
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.xp .grid {
	position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
	
	background: transparent;
	background-image: linear-gradient(90deg, transparent 99%, #2F3439);
	background-size: 10% 100%;
}

.menu {
	background: #2F3439;
	text-align: center;
	padding: 0 1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu ul li {
	list-style: none;
	display: inline-block;
	padding: 0.75em 1em;
	cursor: pointer;
}
.menu .left {
	float: left;
}
.menu .right {
	float: right;
}
.menu .location {
	display: block;
    width: 20%;
    margin: auto;
}
.menu .location .x, .menu .location .y {
	padding: 0.3em;
    text-shadow: none;
	display: inline-block;
    border-bottom: 2px solid #eee;
	cursor: default;
}
.menu .location .title {
	font-size: 0.7em;
	color: #A2A7A6;
}