.map {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	
	display: flex;
}
.map .content {
	margin: auto;
	background: rgba(0, 0, 0, 0.1);
}
.map .x {
    height: 32px;
	text-align: center;
}
.map .y {
	display: inline-block;
    text-align: center;
    width: 32px;
	height: 32px;
	vertical-align: top;
	border: 1px dashed rgba(0, 0, 0, 0.2);
}
.map .hideGrid .y {
	border: 1px dashed rgba(0, 0, 0, 0);
}
.map .hideGrid {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.05);
}
.map .x .y:hover {
	border: 3px solid #2F3439;
	color: #2F2F2F;
	background: #E9CA2D;
}
.map .center {
	border: 3px solid #2F3439;
	color: #2F2F2F;
	background: #E9CA2D;
	background-image: url(http://dev.alurosu.com/mmo/data/img/character.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	
	width: 45px;
	height: 45px;
	margin-top: -7px;
	margin-left: -7px;
	position: relative;
	
	border-radius: 50%;
	text-shadow: none;
	cursor: pointer;
}
.map .center:hover {
	margin-top: -9px;
	margin-left: -9px;
}
.map .header {
	border-bottom: #272B2F;
}