.map {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}
.map.open {
	display: flex;
}
.map .center {
	margin: auto;
	width: auto;
	height: auto;
}
.map .options {
}
.map .options .close {
	border: 1px solid #000;
	background: #fff;
	color: #000;
	cursor: pointer;
	font-family: arial;
    font-size: 23px;
	font-weight: bold;
	height: 30px;
	text-align: center;
	width: 30px;
}
.map .content {
	background: #fff;
    border: 1px solid #000;
	height: 100%;
	width: 100%;
    overflow: hidden;
}
.map .x {
    height: 64px;
	overflow: hidden;
}
.map .y {
	background: url("../img/world128.png");
	background-repeat: no-repeat;
	display: inline-block;
    text-align: center;
    width: 64px;
}
.map .y .element {
	height: 64px;
    width: 64px;
}
.map .y .element:hover {
	border: 1px solid #000;
}