.map {
	width: 100%;
	height: 100%;
	
	display: flex;
}
.map .content {
	margin: auto;
	background: rgba(0, 0, 0, 0.1);
}
.map .x {
    height: 32px;
	text-align: center;
}
.map .y {
	display: inline-block;
    text-align: center;
    width: 32px;
	height: 32px;
	vertical-align: top;
	border: 1px dashed rgba(0, 0, 0, 0.2);
}
.map .hideGrid .y {
	border: 1px dashed rgba(0, 0, 0, 0);
}
.map .hideGrid {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.05);
}
.map .x .y:hover {
	border: 3px solid #2F3439;
	color: #2F2F2F;
	background: #E9CA2D;
}
.map .y.path {
	background: rgba(0, 0, 0, 0.4);
}
.map .y.target {
	border: 3px solid #2F3439;
	background: #E9CA2D;
	cursor: pointer;
}

.map .center {
	border: 3px solid #2F3439;
	color: #2F2F2F;
	background: #E9CA2D;
	background-image: url('../img/character.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	
	width: 45px;
	height: 45px;
	margin-top: -7px;
	margin-left: -7px;
	position: relative;
	
	border-radius: 50%;
	text-shadow: none;
	cursor: pointer;
}
.map .center:hover {
	margin-top: -9px;
	margin-left: -9px;
}
.map .header {
	border-bottom: #272B2F;
}

.map .world {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: rgba(0, 0, 0, 0.4);
}
.map .world.open {
	display: flex;
}
.map .world > div {
    border-top: 2px solid #40474E;
	background: #2F3439;
    border-radius: 0.3em;
	margin: auto;
	height: 95%;
}
.map .world .preview {
	height: 100%;
	background-image: url('../img/map/map.png');
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
}
.map .world .header div {
    padding: 0.5em 1em;
}

.map .popup {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 40;
	
	background: #2F2F2F;
	border-top: 2px solid #40474E;
	display: none;
}
.map .popup > * {
	padding: 0.15em 0.8em;
	color: #A2A7A6;
    font-size: 0.9em;
}
.map .popup > * > span{
	color: #fff;
}
.map .popup .coord {
	padding-top: 0.8em;
}
.map .popup .cost {
	padding-bottom: 0.8em;
}


.map .popup .close {
	font-size: 1em;
	color: #eee;
	border-radius: 50%;
	float: right;
	background: #2F2F2F;
	border: 2px solid #40474E;
	width: 1.5em;
	height: 1.5em;
	margin: 0.6em 0.5em 0 0;
	padding: 0;
	cursor: pointer;
    text-align: center;
}
.map .popup .header {
	font-size: 1em;
	text-align: center;
    padding: 0.8em 2em;
    
	background: #2F3439;
	color: #eee;
    border-bottom: 1px solid #272B2F;
}
.map .popup .actions {
	text-align: center;
	padding: 0.8em;
	font-size: 1em;
	
	background: #2F3439;
    border-top: 1px solid #272B2F;
}
.map .popup button {
	padding: 0.7em 1.5em;
	outline: 0;
	border-radius: 0.3em;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
	
	border: 0;
	background: #E9CA2D;
	color: #000;
}
.map .popup button:hover {
	background: #D0D3D2;
}